--
-- PostgreSQL database dump
--

\restrict JpGKjq818fq03tU5zHcTeGt7CI888UGliwqr7XPdQzsoQoXvXrUTrabCqmDo8iM

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: email_log; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.email_log (
    id_email bigint NOT NULL,
    contenu text,
    date_envoi timestamp(6) without time zone,
    destinataire character varying(255),
    statut character varying(255),
    sujet character varying(255),
    id_user bigint
);


ALTER TABLE public.email_log OWNER TO skilltrack;

--
-- Name: email_log_id_email_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.email_log ALTER COLUMN id_email ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.email_log_id_email_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: historique; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.historique (
    id_historique bigint NOT NULL,
    action character varying(255),
    date_action timestamp(6) without time zone,
    id_objectif bigint,
    id_tache bigint,
    id_user bigint
);


ALTER TABLE public.historique OWNER TO skilltrack;

--
-- Name: historique_id_historique_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.historique ALTER COLUMN id_historique ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.historique_id_historique_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: login_history; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.login_history (
    id_login bigint NOT NULL,
    date_connexion timestamp(6) without time zone,
    ip character varying(255),
    user_agent character varying(255),
    id_user bigint
);


ALTER TABLE public.login_history OWNER TO skilltrack;

--
-- Name: login_history_id_login_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.login_history ALTER COLUMN id_login ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.login_history_id_login_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.notification (
    id_notification bigint NOT NULL,
    contenu text,
    date_envoi timestamp(6) without time zone,
    statut character varying(255),
    id_user bigint
);


ALTER TABLE public.notification OWNER TO skilltrack;

--
-- Name: notification_id_notification_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.notification ALTER COLUMN id_notification ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_id_notification_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: objectif; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.objectif (
    id_objectif bigint NOT NULL,
    date_debut timestamp(6) without time zone,
    date_limite timestamp(6) without time zone,
    description character varying(255),
    progression real,
    statut character varying(255),
    titre character varying(255),
    id_user bigint
);


ALTER TABLE public.objectif OWNER TO skilltrack;

--
-- Name: objectif_id_objectif_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.objectif ALTER COLUMN id_objectif ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.objectif_id_objectif_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: plan_execution; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.plan_execution (
    id_plan bigint NOT NULL,
    contenu text,
    date_generation timestamp(6) without time zone,
    id_objectif bigint
);


ALTER TABLE public.plan_execution OWNER TO skilltrack;

--
-- Name: plan_execution_id_plan_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.plan_execution ALTER COLUMN id_plan ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.plan_execution_id_plan_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: recommandation; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.recommandation (
    id_recommandation bigint NOT NULL,
    contenu text,
    date_generation timestamp(6) without time zone,
    genere_par_ia boolean,
    type character varying(255),
    id_objectif bigint
);


ALTER TABLE public.recommandation OWNER TO skilltrack;

--
-- Name: recommandation_id_recommandation_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.recommandation ALTER COLUMN id_recommandation ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.recommandation_id_recommandation_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: recompense; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.recompense (
    id_recompense bigint NOT NULL,
    condition character varying(255),
    description character varying(255),
    nom character varying(255),
    points integer
);


ALTER TABLE public.recompense OWNER TO skilltrack;

--
-- Name: recompense_assignation; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.recompense_assignation (
    id_assignation bigint NOT NULL,
    date_obtention timestamp(6) without time zone,
    id_objectif bigint,
    id_recompense bigint,
    id_tache bigint,
    id_user bigint
);


ALTER TABLE public.recompense_assignation OWNER TO skilltrack;

--
-- Name: recompense_assignation_id_assignation_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.recompense_assignation ALTER COLUMN id_assignation ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.recompense_assignation_id_assignation_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: recompense_id_recompense_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.recompense ALTER COLUMN id_recompense ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.recompense_id_recompense_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tache; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.tache (
    id_tache bigint NOT NULL,
    date_creation timestamp(6) without time zone,
    description character varying(255),
    statut character varying(255),
    titre character varying(255),
    id_objectif bigint
);


ALTER TABLE public.tache OWNER TO skilltrack;

--
-- Name: tache_id_tache_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.tache ALTER COLUMN id_tache ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tache_id_tache_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.token (
    id_token bigint NOT NULL,
    expiration timestamp(6) without time zone,
    token_hash character varying(255),
    type character varying(255),
    used boolean,
    id_user bigint,
    id bigint NOT NULL,
    token character varying(255)
);


ALTER TABLE public.token OWNER TO skilltrack;

--
-- Name: token_id_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.token ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_id_token_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.token ALTER COLUMN id_token ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_id_token_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: utilisateur; Type: TABLE; Schema: public; Owner: skilltrack
--

CREATE TABLE public.utilisateur (
    id_user bigint NOT NULL,
    date_inscription timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    mot_de_passe character varying(255) NOT NULL,
    niveau integer,
    nom character varying(255),
    prenom character varying(255),
    total_points integer,
    email_verified boolean
);


ALTER TABLE public.utilisateur OWNER TO skilltrack;

--
-- Name: utilisateur_id_user_seq; Type: SEQUENCE; Schema: public; Owner: skilltrack
--

ALTER TABLE public.utilisateur ALTER COLUMN id_user ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.utilisateur_id_user_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: email_log; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.email_log (id_email, contenu, date_envoi, destinataire, statut, sujet, id_user) FROM stdin;
\.


--
-- Data for Name: historique; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.historique (id_historique, action, date_action, id_objectif, id_tache, id_user) FROM stdin;
\.


--
-- Data for Name: login_history; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.login_history (id_login, date_connexion, ip, user_agent, id_user) FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.notification (id_notification, contenu, date_envoi, statut, id_user) FROM stdin;
\.


--
-- Data for Name: objectif; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.objectif (id_objectif, date_debut, date_limite, description, progression, statut, titre, id_user) FROM stdin;
\.


--
-- Data for Name: plan_execution; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.plan_execution (id_plan, contenu, date_generation, id_objectif) FROM stdin;
\.


--
-- Data for Name: recommandation; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.recommandation (id_recommandation, contenu, date_generation, genere_par_ia, type, id_objectif) FROM stdin;
\.


--
-- Data for Name: recompense; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.recompense (id_recompense, condition, description, nom, points) FROM stdin;
\.


--
-- Data for Name: recompense_assignation; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.recompense_assignation (id_assignation, date_obtention, id_objectif, id_recompense, id_tache, id_user) FROM stdin;
\.


--
-- Data for Name: tache; Type: TABLE DATA; Schema: public; Owner: skilltrack
--

COPY public.tache (id_tache, date_creation, description, statut, titre, id_objectif) FROM stdin;
\.


--
-- Data for Name: token; Type: TABLE DATA; Schema: public; Owner: skilltrack
--



--
-- Data for Name: utilisateur; Type: TABLE DATA; Schema: public; Owner: skilltrack
--



--
-- Name: email_log_id_email_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.email_log_id_email_seq', 1, false);


--
-- Name: historique_id_historique_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.historique_id_historique_seq', 1, false);


--
-- Name: login_history_id_login_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.login_history_id_login_seq', 1, false);


--
-- Name: notification_id_notification_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.notification_id_notification_seq', 1, false);


--
-- Name: objectif_id_objectif_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.objectif_id_objectif_seq', 1, false);


--
-- Name: plan_execution_id_plan_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.plan_execution_id_plan_seq', 1, false);


--
-- Name: recommandation_id_recommandation_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.recommandation_id_recommandation_seq', 1, false);


--
-- Name: recompense_assignation_id_assignation_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.recompense_assignation_id_assignation_seq', 1, false);


--
-- Name: recompense_id_recompense_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.recompense_id_recompense_seq', 1, false);


--
-- Name: tache_id_tache_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.tache_id_tache_seq', 1, false);


--
-- Name: token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.token_id_seq', 16, true);


--
-- Name: token_id_token_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.token_id_token_seq', 16, true);


--
-- Name: utilisateur_id_user_seq; Type: SEQUENCE SET; Schema: public; Owner: skilltrack
--

SELECT pg_catalog.setval('public.utilisateur_id_user_seq', 13, true);


--
-- Name: email_log email_log_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.email_log
    ADD CONSTRAINT email_log_pkey PRIMARY KEY (id_email);


--
-- Name: historique historique_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.historique
    ADD CONSTRAINT historique_pkey PRIMARY KEY (id_historique);


--
-- Name: login_history login_history_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.login_history
    ADD CONSTRAINT login_history_pkey PRIMARY KEY (id_login);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (id_notification);


--
-- Name: objectif objectif_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.objectif
    ADD CONSTRAINT objectif_pkey PRIMARY KEY (id_objectif);


--
-- Name: plan_execution plan_execution_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.plan_execution
    ADD CONSTRAINT plan_execution_pkey PRIMARY KEY (id_plan);


--
-- Name: recommandation recommandation_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recommandation
    ADD CONSTRAINT recommandation_pkey PRIMARY KEY (id_recommandation);


--
-- Name: recompense_assignation recompense_assignation_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recompense_assignation
    ADD CONSTRAINT recompense_assignation_pkey PRIMARY KEY (id_assignation);


--
-- Name: recompense recompense_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recompense
    ADD CONSTRAINT recompense_pkey PRIMARY KEY (id_recompense);


--
-- Name: tache tache_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.tache
    ADD CONSTRAINT tache_pkey PRIMARY KEY (id_tache);


--
-- Name: token token_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.token
    ADD CONSTRAINT token_pkey PRIMARY KEY (id_token);


--
-- Name: utilisateur ukrma38wvnqfaf66vvmi57c71lo; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT ukrma38wvnqfaf66vvmi57c71lo UNIQUE (email);


--
-- Name: utilisateur utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_pkey PRIMARY KEY (id_user);


--
-- Name: recompense_assignation fk28wq5lpcsndq4rrht6kniqnkn; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recompense_assignation
    ADD CONSTRAINT fk28wq5lpcsndq4rrht6kniqnkn FOREIGN KEY (id_objectif) REFERENCES public.objectif(id_objectif);


--
-- Name: historique fk4eog28wsmu7h4513sodq0y2op; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.historique
    ADD CONSTRAINT fk4eog28wsmu7h4513sodq0y2op FOREIGN KEY (id_objectif) REFERENCES public.objectif(id_objectif);


--
-- Name: email_log fk608om9o8b605w3p0yoymb5ksr; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.email_log
    ADD CONSTRAINT fk608om9o8b605w3p0yoymb5ksr FOREIGN KEY (id_user) REFERENCES public.utilisateur(id_user);


--
-- Name: objectif fk6f1nktfab2lh0i0njtp3xvni0; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.objectif
    ADD CONSTRAINT fk6f1nktfab2lh0i0njtp3xvni0 FOREIGN KEY (id_user) REFERENCES public.utilisateur(id_user);


--
-- Name: token fk7dxvrm1uvnal4lhv3y8txygu2; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.token
    ADD CONSTRAINT fk7dxvrm1uvnal4lhv3y8txygu2 FOREIGN KEY (id_user) REFERENCES public.utilisateur(id_user);


--
-- Name: recompense_assignation fk95eiu1q4u316hnlekwyhuvrn8; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recompense_assignation
    ADD CONSTRAINT fk95eiu1q4u316hnlekwyhuvrn8 FOREIGN KEY (id_tache) REFERENCES public.tache(id_tache);


--
-- Name: recommandation fk9sk14cxas5ci1pctvp2i8pt21; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recommandation
    ADD CONSTRAINT fk9sk14cxas5ci1pctvp2i8pt21 FOREIGN KEY (id_objectif) REFERENCES public.objectif(id_objectif);


--
-- Name: notification fkc3ppn9i1bcoyabdwslt1rhwli; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT fkc3ppn9i1bcoyabdwslt1rhwli FOREIGN KEY (id_user) REFERENCES public.utilisateur(id_user);


--
-- Name: recompense_assignation fkch1maahkbaj5ljveyob4k8ov9; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recompense_assignation
    ADD CONSTRAINT fkch1maahkbaj5ljveyob4k8ov9 FOREIGN KEY (id_user) REFERENCES public.utilisateur(id_user);


--
-- Name: plan_execution fkjfhydnd8neu4coelrbrls0rqc; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.plan_execution
    ADD CONSTRAINT fkjfhydnd8neu4coelrbrls0rqc FOREIGN KEY (id_objectif) REFERENCES public.objectif(id_objectif);


--
-- Name: historique fkmnw6r5k923nnjcv5k7fy7hrrd; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.historique
    ADD CONSTRAINT fkmnw6r5k923nnjcv5k7fy7hrrd FOREIGN KEY (id_user) REFERENCES public.utilisateur(id_user);


--
-- Name: login_history fknfrc89w9kmek9cs46b5dm6d12; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.login_history
    ADD CONSTRAINT fknfrc89w9kmek9cs46b5dm6d12 FOREIGN KEY (id_user) REFERENCES public.utilisateur(id_user);


--
-- Name: recompense_assignation fko4wu7b8kgketoqk6fx1761xnj; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.recompense_assignation
    ADD CONSTRAINT fko4wu7b8kgketoqk6fx1761xnj FOREIGN KEY (id_recompense) REFERENCES public.recompense(id_recompense);


--
-- Name: tache fkpxr78uuwvphyfy4vk60g1eugo; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.tache
    ADD CONSTRAINT fkpxr78uuwvphyfy4vk60g1eugo FOREIGN KEY (id_objectif) REFERENCES public.objectif(id_objectif);


--
-- Name: historique fkrp44ouipqvowikpjhsj1nqn0x; Type: FK CONSTRAINT; Schema: public; Owner: skilltrack
--

ALTER TABLE ONLY public.historique
    ADD CONSTRAINT fkrp44ouipqvowikpjhsj1nqn0x FOREIGN KEY (id_tache) REFERENCES public.tache(id_tache);


--
-- PostgreSQL database dump complete
--

\unrestrict JpGKjq818fq03tU5zHcTeGt7CI888UGliwqr7XPdQzsoQoXvXrUTrabCqmDo8iM

